{% extends "base.html" %}
{% block content %}

<!-- categories section -->
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Collections</h1>
      <p class="lead text-muted">Browse through our Bookcytocin collection to explore all layers of your inner power.</p>
      </p>
    </div>
  </div>
</section>

    
 <!-- collections -->

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <button>
              <div class="card-img bg-primary text-white" style="padding:10px;">
                <span><i class="fas fa-dumbbell fa-3x"></i></span>
                <h5 class="card-title" style="padding-top: 10px;">Health & Fitness</h5>
              </div>
            </button>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <button>
              <div class="card-img bg-secondary text-white" style="padding:10px">
                <span><i class="fas fa-brain fa-3x"></i></span>
                <h5 class="card-title" style="padding-top: 10px;">Intellectual</h5>
              </div>
            </button>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <button>
              <div class="card-img bg-success text-white" style="padding:10px">
                <span><i class="fas fa-smile-beam fa-3x"></i></span>
                <h5 class="card-title" style="padding-top: 10px;">Emotional</h5>
              </div>
            </button>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <button>
              <div class="card-img bg-primary text-white" style="padding:10px">
                <span><i class="fas fa-bolt fa-3x"></i></span>
                <h5 class="card-title" style="padding-top: 10px;">Character</h5>
              </div>
            </button>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <button>
                <div class="card-img bg-success text-white" style="padding:10px">
                  <span><i class="fas fa-cloud fa-3x"></i></span>
                  <h5 class="card-title" style="padding-top: 10px;">Spiritual</h5>
                </div>
              </button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <button>
                <div class="card-img bg-primary text-white" style="padding:10px">
                  <span><i class="fas fa-heartbeat fa-3x"></i></span>
                  <h5 class="card-title" style="padding-top: 10px;">Love relationship</h5>
                </div>
              </button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <button>
                <div class="card-img bg-secondary text-white" style="padding:10px">
                  <span><i class="fas fa-baby fa-3x"></i></span>
                  <h5 class="card-title" style="padding-top: 10px;">Parenting</h5>
                </div>
              </button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <button>
                <div class="card-img bg-success text-white" style="padding:10px">
                  <span><i class="fas fa-user-friends fa-3x"></i></span>
                  <h5 class="card-title" style="padding-top: 10px;">Social</h5>
                </div>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <button>
                <div class="card-img bg-secondary text-white" style="padding:10px">
                  <span><i class="fas fa-suitcase fa-3x"></i></span>
                  <h5 class="card-title" style="padding-top: 10px;">Career</h5>
                </div>
              </button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <button>
                <div class="card-img bg-success text-white" style="padding:10px">
                  <span><i class="fas fa-money-check-alt fa-3x"></i></span>
                  <h5 class="card-title" style="padding-top: 10px;">Financial</h5>
                </div>
              </button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <button>
                <div class="card-img bg-primary text-white" style="padding:10px">
                  <span><i class="fas fa-check fa-3x"></i></span>
                  <h5 class="card-title" style="padding-top: 10px;">Quality of life</h5>
                </div>
              </button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <button>
                <div class="card-img bg-secondary text-white" style="padding:10px">
                  <span><i class="fas fa-eye fa-3x"></i></span>
                  <h5 class="card-title" style="padding-top: 10px;">Life vision</h5>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- collection selected : 10 books minimum per selection -->


    {% endblock %}
