{% extends "index.html" %}
{% block content %}

<!-- log in  -->
<div class="container">
    <div class= "row">
        <div class="col-md-12">
            <form class="form-signin">
                <img class="mb-4" src="" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Log in</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-muted">No account yet, create one <a class="register" href="{{ url_for('register') }}">here</a></p>
            </form>
        </div>
    </div>
</div>


{% endblock %}